:root{
    --white-color: #fff;
    --black-color: #000;
    --text-color: #333;

}
*{
    box-sizing: inherit;
}
html{
    font-size: 62.5%;
    line-height: 1.6rem;
    /* font-family: "Roboto", sans-serif; */
    font-family: 'Times New Roman', Times, serif;
    box-sizing: border-box;
}
p{
    font-size: 1rem;
}
.grid{
    width: 1200px;
    max-width: 100%;
    margin: auto;
    height: auto;
   
}
.grid__ful-width{
    width:100%;
}
.grid__row{
    display: flex;
    flex-wrap: wrap;
}
.tit{
    text-align: center;
    font-size: 2.5rem;
    padding: 20px;
    font-weight: 500;
}
.order2{
    order: 2;
}

.order1{
    order: 1;
}

html{
    overflow-x: hidden;
}
.app{
    overflow-x: hidden;
}

#chat-container {
    display: none;
    position: fixed;
    bottom: 100px;
    right: 90px;
    width: 300px;
    height: 400px;
    border: 2px solid #000000;
    overflow-y: scroll;
    background-color: #959393;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    padding-bottom: 60px;
    margin-bottom: 15px;
  }

  #chat-container::-webkit-scrollbar {
    width: 5px; /* Đặt chiều rộng thanh cuộn */
}

#chat-container::-webkit-scrollbar-track {
    background-color: #eaeaea; /* Đặt màu nền cho thanh cuộn */
}

#chat-container::-webkit-scrollbar-thumb {
    background-color: #888; /* Đặt màu cho phần nằm trong thanh cuộn */
}
  
  #chat-messages {
    padding: 10px;
  overflow-y: auto;
  }
  
  .message {
    margin-bottom: 10px;
    padding: 8px 12px;
    background-color: #f0f0f0;
  }
  
  .user-message {
    width: 90%;
    background-color: #007bff;
    color: #fff;
    text-align: right;
    margin-left: 10%;
    margin-bottom: 20PX;
    font-size: 1.5rem;
    border-radius: 10px 0 10px 10px;

  }
  
  .bot-message {
    width: 90%;
    margin-right: 10%;
    background-color: #4caf50;
    color: #fff;
    text-align: left;
    margin-bottom: 20PX;
    font-size: 1.5rem;
    border-radius:0 10px 10px 10px;

  }
  
  #input-message-container {
    width: 290px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position:fixed;
    bottom: 120px;
  }
  
  #input-message {
    flex: 1;
    margin-right: 2px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    height: 40px;
    font-size: 1.5rem;
    background: wheat;
  }
  
  #send-button {
    padding: 8px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    height: 40px;
    width: 50px;
  }
  
  #chat-toggle {
    width: 50px;
    height: 50px;
    position: fixed;
    bottom: 120px;
    right: 30px;
    padding: 10px;
    background-color: #053263;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.5;
  }
  #chat-toggle:hover {
    transform: scale(0.95);
    background-color: #053263;
  }

  .form-control{
    font-size: 1.7rem;
  }
  .btn{
    height: 35px;
  }
  