@media screen and (max-width: 769px){
    .header{
        width: 100%;
        height: 400px;
        background-image: url(images/bg.jpg);
        background-size: cover;
        background-position: center;
      
    }

    .header__navbar{
        height: 60px;
        margin: 0 auto;
        top: 20px;
        right: 20px;
        left: 20px;
        border-radius: 30px;
        padding: 0 20px;
    }
    .header__navbar__content{
        display: flex;
        justify-content: space-between;
        
    
    }
    .header_bard{
        display: none;
    }
    
    .header__menu{
        display: flex;
        align-items: center;
    }

    .header__navbar-list{
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin: 0;

    }
    .header__navbar-item{
        padding: 14px 3px;
        font-size: 1.3rem;
        color: var(--white-color);
        margin: 0;
        border:4px solid rgba(255, 0, 0, 0) ;
        border-radius: 5px;
    }
    .header__navbar-item:hover{
        color:black;
        cursor: pointer;
    }
    .header__logo-icon{
        height: 40px;
        margin: 10px;
    }
    .header_bard{
        font-size: 33px;
        color: rgba(255, 255, 255, 0.411);
        margin: 5px 10px;
    }

    .header__text{
        margin: auto;
        text-align: center;
        padding: 150px 20px 0 20px;


    }
    .header__tl1{
        font-size: 3.5rem;
        color:#F9E0BB;
        font-family: 'Times New Roman', Times, serif;
        font-weight: 700;
    }
    .header__tl2{
        font-size: 1rem;
        color: var(--white-color);
        font-family: 'Times New Roman', Times, serif;
        font-weight: 700;
    }
    .gt{
        background-color: #F9E0BB;
        padding: 0;
    }
    .gt_container_ct{
        display: flex;
        justify-content: center;
    }
    .gt_content{
        padding: 0;
    }
    .gt_content_2{
        display: flex;
        flex-wrap: wrap;
    }
    .gt_hinh{
        margin: 0;
        padding: 0;
        order: 1;
        display: flex;
        justify-content: center;
        overflow: hidden;
    }
    .gt_text{
        display: flex;
        flex-direction: column;
        padding:20px 20px 20px 20px;
        text-align: justify;
        align-items: center;
        order: 1;
        justify-content: center;

    }
    .tit{
        text-align: center;
        margin-top: 30px;
    
    }
    .tit_item{
        font-size: 1.8rem;
        font-weight: 600;
        margin-bottom: 20px;

    }
    .tit_item1{
        
    }

    .gt_td{
        font-size: 2rem;
        font-weight: 600;
        color: #884A39;
        margin-bottom: 15px;
    }
    .gt_nd{
        font-size: 1.3rem;
        line-height: 30px;
    }
    .gt_img{
        height: 100%;
        object-fit: cover;
        
    }
    .cn_img{
        width: 100%;
    }
    .dssp{
        background-color: #f9c26f;
        padding-bottom: 50px;
    }
    .dssp-item{
        display: flex;
        justify-content: center;
    }
    .dssp_img{
        width: 95%;
    }
    .card_sp {
        display: flex;
        flex-direction: column;
        justify-content: center; /* căn giữa theo chiều dọc */
        align-items: center; /* căn giữa theo chiều ngang */
        width: 95%; /* có thể điều chỉnh kích thước của card_sp tùy ý */
        border-radius: 10px;
        background-color: white;
        margin: 20px auto;
        box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.344), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        transition: 0.6s all ease;
    }
    .card_sp:hover{
        scale: 1.02;
    }

    .addgh{
        background-color: black;
        padding: 5px;
    }
    .addgh_text{
        font-size: 0.6rem;
        font-weight: 200;
        color: white;
        margin: 0;
        cursor: pointer;
    }
    .dssp_ten_text{
        margin: 7px;
        font-size: 0.8rem;
        font-weight: 300;
    }

    .dssp_img{
        margin-top: 3px;
    }
    .huongvi{
        display: flex;
        justify-content: space-around;
    }

    .huongvi_item{
        display: flex;
        justify-content: center;
        padding: 0;
        
    
    }
    .huongvi_text{
        font-size: 0.5rem;
        background-color: rgba(112, 110, 110, 0.1);
        border-radius: 2.5px;
        padding: 4px 6px;
    }
    .dssp_gia_text{
        font-size: 1rem;
        font-weight: 300;
    }

    .dssp_container{
        display: flex;
        justify-content: center;
    }


    .selection{
        width: 100%;
        height: 150px;
        background-image: url(images/bg2.jpg);
        background-size: cover;
        background-position: center;
        align-items: baseline;
        display: flex;
        align-items: center;

    }
    .selection_tl{
        font-size: 1.6rem;
        font-weight: 600;
        color:#F9E0BB;

    }
    .selection_tl_item{
        margin: 10px;
    }
    .selection_tl1{
        font-size: 1.4rem ;
        text-decoration: none;
        color: #F9E0BB;
    }
    .trong{
        width: 100%;
        height: 30px;
        background-color:#f9c26f;
        display: none;
    }
    .footer{
        background-color: rgb(26, 25, 25);
    }
    .footer_container{
        display: flex;
        justify-content: center;
    }
    .footer_mxh{
        display: flex;
        justify-content: space-around;
    }
    .footer_mxh-mobile{
        display: flex;
        justify-content: space-around;
        border-bottom: 1px solid white;
        border-top: 2px solid white;
        padding: 0 20px;
        display: none;
    }
    .footer_mxh_item{
        margin: 20px 0;
        padding: 0;
    }
    .footer_mxh_item_link{
        font-size: 1.5rem;
        text-decoration: none;
        color: white;
        font-weight: 500;
    }
    .footer_mxh_item_link:hover{
        color: rgb(223, 52, 52);
        transition: 2s all ease;
    }
    .footer__info{
        padding: 0 20px;
        
    }
    .footer_info_list{
        padding: 0;
        border-bottom: none;
    }
    .footer_info_item{
        margin: 15px;
        color: white;
        font-size: 1.5rem;
        padding: 5px 10px;
        display: flex;
        justify-content: center;
        border-left: none;
    }
    .footer_info_link{
        font-size: 1.4rem;
        text-decoration: none;
        color: white;
        font-weight: 400;
        list-style: none;
        padding: 7px;
        /* border-bottom: 0.5px solid rgba(255, 255, 255, 0.59); */

    }
    .form_name{
        font-size: 1.2rem;
    }
    .footer_info_link1{
        border-bottom:none;
    }
    .footer_tt{
        border-bottom: 1px solid white;
    }
    .footer_nguon{
        display: flex;
        justify-content: center; /* căn giữa theo chiều ngang */
    }
    .footer_nguon_link{
        font-size: 1rem;
        color: white;
        font-weight: 400;
        padding: 15px;
        justify-content: center;
    }

    .scroll_to_back{
        width: 50px;
        height: 50px;
        border-radius: 5px;
        background-color:#3e221b4e;
        /* position: fixed; */
        bottom: 20px;
        right: 30px;
        font-size: 30px;
        color: white;
        display: none;
        padding: 0 0 0 15px;
        cursor: pointer;
    }
    .scroll_to_back:hover{
        background-color:#3e221b ;
    }
     /* event */
     .event{
        background-color: hsl(13, 40%, 47%);
        height: 420px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
    
      
      .carousel {
        margin: 0 auto;
        position: relative;
      }
      .carousel-inner{
        width: 95%;
      }
      
    
      .event_item{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 300px;
        transition: transform 0.5s ease;
        background-color: hsl(13, 40%, 47%) ;
      }

      .event_text{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 10px 20px;
    
        
      }
      .event_text_date{
        font-size: 1.2rem;
        font-weight: 500;
      }
      .event_text_content{
        font-size: 2rem;
        font-weight: 500;
        text-align: center;
      }
      .event_hinh{
        display:flex;
        height: 100%;
        justify-items: center;
        align-items: center;
        overflow: hidden;
        padding: 0 20px 0 0;
    
      }
      .event_img{
        width: 100%;
        display: block;
        /* giu ty le khung hinh */
        object-fit: cover;
      }
    
}
