
.header{
    width: 100%;
    height: 650px;
    background-image: url(images/bg.jpg);
    background-color: rgba(0, 0, 0, 0.5);

    background-blend-mode: overlay;
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 100% auto;
    align-items: baseline;
}

.header__navbar{
    max-width: 1200px;
    height: 80px;
    margin: 0 auto;
    background-image: linear-gradient(0, #C38154,#884A39);
    position: fixed;
    top: 40px;
    right: 40px;
    left: 40px;
    border-radius: 30px;
    box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.344), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.header__navbar__content{
    display: flex;
    justify-content: space-between;
   
}
.header__navbar-list{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 8px 50px;

}
.header__navbar-item{
    padding: 5px;
    font-size: 2rem;
    color: var(--white-color);
    margin: 10px;
    border:4px solid rgba(255, 0, 0, 0) ;
    border-radius: 5px;
}
.header__navbar-item:hover{
    color:black;
    cursor: pointer;
}
.header__logo-icon{
    height: 80px;
    margin-left:40px ;
}
.header__text{
    margin: auto;
    text-align: center;
    padding-top: 200px;

}
.header__tl1{
    font-size: 6rem;
    color:#F9E0BB;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 700;
}
.header__tl2{
    font-size: 2rem;
    color: var(--white-color);
    font-family: 'Times New Roman', Times, serif;
    font-weight: 700;
}
.gt{
    background-color: #F9E0BB;
}

.gt_hinh,
.gt_text{
     margin: 40px 0;
}
.tit{
    text-align: center;
    margin-top: 50px;
   
}
.tit_item{
    font-size: 2rem;
    font-weight: 600
}
.gt_td{
    font-size: 3rem;
    color: #884A39;
}
.gt_nd{
    font-size: 2.5rem;
}
.gt_img{
    width: 100%;
}
.cn_img{
    width: 100%;
}
.footer{
    background-color: rgb(26, 25, 25);
}
.footer_mxh{
    display: flex;
    justify-content: center;
    border-bottom: 1px solid white;
}
.footer_mxh_item{
    padding: 30px;

}
.footer_mxh_item_link{
    font-size: 2rem;
    text-decoration: none;
    color: white;
    font-weight: 400;
}
.footer_info_item{
    margin: 30px;
    color: white;
}
.footer_info_link{
    font-size: 2rem;
    text-decoration: none;
    color: white;
    font-weight: 400;
    list-style: none;
    padding: 15px;
    border-bottom: 0.5px solid rgba(255, 255, 255, 0.59);

}
.footer_info_link1{
    border-bottom:none;
}
.footer_tt{
    border-bottom: 1px solid white;
}