
.header{
    width: 100%;
    height: 900px;
    background-color:#f9c26f;
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 100% auto;
    align-items: baseline;
}
.header_bard{
    display: none;
    /* position: relative; */
}
.header__navbar{
    max-width: 1200px;
    height: 80px;
    margin: 0 auto;
    /* background-image: linear-gradient(0, #C38154,#884A39); */
    background: rgba(111, 32, 32, 0.71);
    position: sticky;
    position: -webkit-sticky;
    top: 30px;
    right: 40px;
    left: 40px;
    border-radius: 30px;
    box-shadow:  0 4px 8px 0 rgba(33, 2, 2, 0.695), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    z-index: 100;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
}
.header__navbar__content{
    display: flex;
    justify-content: space-between;
   
}
.header__menu{
    display: flex;
    align-items: center;
}
.header__navbar-list{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 8px 50px;

}
.header__navbar-item{
    padding: 5px;
    font-size: 2rem;
    color: var(--white-color);
    margin: 10px;
    border:4px solid rgba(255, 0, 0, 0) ;
    border-radius: 5px;
    text-decoration: none;
    z-index: 2000;
    
}
.header__navbar-item:hover{
    color:black;
    cursor: pointer;
    filter: drop-shadow(0px 0px 15px rgb(255, 255, 255));
}
.header__logo-icon{
    height: 80px;
    margin-left:40px ;

}
.header__text{
    margin: auto;
    text-align: center;
    padding-top: 80px;

}
.header__tl1{
    font-size: 3rem;
    color:#000000;
    font-weight: 400;
    margin: 0;
}
.header__tl2{
    font-size: 3rem;
    color: var(--white-color);
    font-weight: 300;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}
.header_logo_img{
    width: 80px;
}
.header_logo_tit{
    display: flex;
    position: relative;
}
.header_logo_tit::after{
    content: "";
    display: block;
    position: absolute;
    width: 100px;
    height: 3px;
    border: solid 3px black;
    top: 40px;
    left: -120px;
    border-radius: 5px;

}
.header_logo_tit::before{
    content: "";
    display: block;
    position: absolute;
    width: 100px;
    height: 3px;
    border: solid 3px black;
    top: 40px;
    left: 100px;
    border-radius: 5px;

}
.lh_container{
    display: flex;
}
.lh_info{
    flex: 2;
}
.lh_form{
    flex:3;
}
.lh_info_list{
    display: flex;
    flex-direction: column;
}
.lh_info_tit{
    font-size: 5rem;
    font-weight: 500;
}
.lh_info_item{
    font-size: 2rem;
    margin-top: 10px;
}
.ip_item{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
.label_ip{
    font-size: 1.7rem;
}
.form_ip_item{
    width: 80%;
    height: 35px;
    border-radius: 5px;
}
.form_ip_item:focus{
    box-shadow:  0 4px 8px 0 rgba(33, 2, 2, 0.695);
}
.form_ip_item_nd{
    height: 100px;
}
.send_inner{
   margin-top: 30px;
   float: right;
   margin-right: 20px;
}
.btn_send{
    padding: 10px;
    color: rgb(255, 255, 255);
    min-width: 120px;
    border-radius: 7px;
    font-size: 1.5rem;
    background: #000000c0;

}
.btn_send:hover{
    background:#000000;
}
.footer{
    background-color: rgb(26, 25, 25);
}
.footer_mxh{
    display: flex;
    justify-content: center;
    border-bottom: 1px solid white;
}
.footer_mxh-mobile{
    display: none;
}
.footer_mxh_item{
    padding: 30px;

}
.footer_mxh_item_link{
    font-size: 2rem;
    text-decoration: none;
    color: white;
    font-weight: 400;
}
.footer_mxh_item_link:hover{
    color: rgb(223, 52, 52);
    transition: 2s all ease;
}

.footer_info_item{
    margin: 30px;
    color: white;
    font-size: 1.5rem;
    border-left: 4px solid rgba(255, 255, 255, 0.59);
    padding: 5px 10px;
}
.footer_info_link{
    font-size: 1.5rem;
    text-decoration: none;
    color: white;
    font-weight: 400;
    list-style: none;
    padding: 15px;
    /* border-bottom: 0.5px solid rgba(255, 255, 255, 0.59); */

}
.footer_info_link1{
    border-bottom:none;
}
.footer_tt{
    border-bottom: 1px solid white;
}
.form_container{
    margin: 30px;
}
.form_name{
    color: white;
    font-size: 1.5rem;
}
.footer_nguon{
    display: flex;
    justify-content: center; /* căn giữa theo chiều ngang */
}
.footer_nguon_link{
    font-size: 1rem;
    color: white;
    font-weight: 400;
    padding: 15px;
    justify-content: center;
}
